.fd-row {
  display: flex;
  flex-direction: row;
}

.fd-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  font-size: large;
}

.error {
  color: red;
}
body {
  height: 100vh;
  background-color: #bfff9380;
  color: #5d71dcc9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 0px;
  background: transparent;
}
img {
  height: 100px;
  width: 100px;
}
.ID {
  text-align: center;
}
h4 {
  margin: 5px;
  color: #0000008f;
}
table {
  border: 1px solid black;
  text-align: left;
  color: aliceblue;
}
td {
  padding: 0px 10px;
}
tr:nth-child(odd) {
  background-color: #066e6e;
}
tr:nth-child(even) {
  background-color: #84dddd;
}
.btn{
  background-color: transparent;
  margin: 10px;
  border-radius: 15px;
  padding: 5px 10px;
}
.btn:active{
  background-color: rgba(112, 128, 144, 0.315);
}