*{
  margin: 0;
  padding: 0;
}
.fd-row {
  display: flex;
  flex-direction: row;
}

.fd-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-text {
  font-size: large;
}

.error {
  color: red;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* index page styling */
.login-form{
  border: 2px dotted black;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.793);
  background: linear-gradient(30deg,rgba(0, 0, 0, 0.677),rgba(0, 0, 0, 0.187));
}
.login-form>input{
  background-color: rgba(245, 245, 245, 0.692);
  border: 2px rgba(255, 255, 255, 0.796) solid;
  border-radius: 5px;
}

/* submit page */
body {
  height: 100vh;
  background: linear-gradient(180deg,rgba(60, 1, 211, 0.8),rgba(137, 1, 183, 0.8)), url("https://source.unsplash.com/random/1400x810/?computer,softwear");
  background-size: cover;
  background-position: center;
  /* background-color: #bfff9380; */
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family:fantasy;

}
.welcome-txt{
  text-transform:capitalize;
  margin-bottom: 80px;

}

/* logout button style */
.logout-btn{
  position: absolute;
  top: 10px;
  right: 20px;
}
.logout-btn input{
background-color: transparent;
border: 2px solid whitesmoke;
border-radius: 10px;
padding: 2px 5px;
color: rgb(214, 67, 67);
}
.hover-eff:hover{
background-color: rgba(240, 248, 255, 0.708);
}
.click-eff:active{
background-color: rgba(1, 12, 49, 0.708);
}

/* grid items of index page assigment 7 */
.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 30px;
  padding: 20px 20px;
  border: 1px solid whitesmoke;

}
.grid-items>a{
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 2px 20px;
  color: bisque;
}

/* input field */
input{
  background-color: transparent;
  border: 2px solid whitesmoke;
  /* border-radius: 10px; */
  padding: 2px 5px;
  margin: 5px 0px;
  color: azure;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 0px;
  background: transparent;
}
#display{
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.557);
}
img {
  height: 100px;
  width: 100px;
}
.ID {
  text-align: center;
}
h4 {
  margin: 5px;
  color: #0000008f;
}
table {
  border: 1px solid black;
  text-align: left;
  color: aliceblue;
}
td {
  padding: 0px 10px;
}
tr:nth-child(odd) {
  background-color: #066e6e;
}
tr:nth-child(even) {
  background-color: #84dddd;
}
.btn{
  background-color: transparent;
  margin: 10px;
  border-radius: 15px;
  padding: 5px 10px;
}
.btn:active{
  background-color: rgba(112, 128, 144, 0.315);
}



/* Pdf download button */
.pdf-btn{
  background-color: rgba(3, 12, 20, 0.416);
  color: white;
  text-decoration: none;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  padding: 2px 20px;
}